@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
	font-family: 'Noto Sans Mono', monospace;
    scroll-behavior:smooth;
}

.first-container{
    display: flex;
    width: 100%;
    position: relative;
}

.first-container-left{
    width: 50%;
    background-image: url("./images/meeting-gray.png");
    padding: 70px 80px;

    display: inline-block;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 400ms ease-in-out;
}

.content{
    position: relative;
    z-index: 1;
}

.pink-background-color{

    background-color: rgba(251,80,142, 0.93);
}

.phosphore-background-color{
    background-color: rgba(40,238,167,0.93);
}

.purple-background-color{
    background-color: rgba(152, 100, 218,0.93);
}

.first-container-right{
    width: 50%;
    background-image: url("./images/right-first-container-img.png");
    padding: 70px 80px;
}

.se-factory-logo{
    transform: scale(1.2);
    margin-bottom: 100px; 
}

.burger-icon{
    position: absolute;
    top: 80px;
    right: 80px;
    height: 43px;
    transform: scale(1.2);
    border-radius: 10px;
    margin-bottom: 100px;
}

.first-container-left-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    justify-content: space-between;
    color: white;
}

.paragraph-in-black p, .paragraph-in-white p{
    background-color: black;
    color: white;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 800;
    line-height: 2.5;
    display: inline;
    text-transform: uppercase;
}

#speciality-moving-text, .right-container-question{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
}

.first-container-left-content p:nth-child(3), .first-container-right-content p:nth-child(3) {
    margin: 40px 0px;
    text-align: right;
    line-height: 1.3;
    font-family: sans-serif;
    font-size: 20px;
 
}

.first-container-right-content p:nth-child(3){
    text-align: left;
}

.get-trained-btn, .hire-talent-btn{
    font-weight: 800;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: rgba(35,35,35, 0.9);
    color: white;
    border: none;
}

.first-container-right-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: space-between;
    color: white;
    margin-top: 150px;
}

.paragraph-in-white p{
    background-color: white;
    color: black;
}

.hire-talent-btn{
    background-color: white;
    color: black;
}

@media (max-width: 1000px) {
    .first-container{
        flex-direction: column;
    }

    .first-container-left, .first-container-right{
        width: auto;
        padding: 30px;
    }

    .burger-icon{
        top: 27px
    }
}

.section-start{
    background-color: #F1F2F3;
    padding: 70px 0;
    width: 100%;
}

.progames-section-start{
    padding: 70px 0;
    width: 100%;
}

.third-section{
    background-color: white;
}

.section-container{
    padding: 0px 70px;
}

.section-header{
    display: flex;
    justify-content: space-between;
}

.section-title h2{
    color: #28eea7;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
}

.section-title h2 span{
    color: #000;
}

.circles{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.black-circle{
    background-color: black;
}

.grey-circle{
    background-color: #DCDEE1;
}

.phosphore-circle{
    background-color: #28eea7;
}

.white-circle{
    background-color: white;
}

.grey-circle-pick-path-section{
    background-color: #A5A6A9;
}

.second-section-video{
    width: 100%;
    padding: 70px 0px;
    display: flex;
    justify-content: center;
}

.second-section-video-content{
    width: 100%;
    border: 15px solid #28eea7;
    border-radius: 20px;
    padding-top: 58.04%; 
    position: relative;
}

.second-section-video-content iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

} 

.percentage-title{
    font-size: 120px;
    font-weight: 900;
    text-align: start;
}

.employment-rate{
    font-size: 32px;
    font-weight: 900;
    text-align: left;
}

.third-section-blocks{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 0px;

}

.big-block{
    background-color: #DCDEE1;
    padding: 60px 70px;
    flex: 6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.big-block-text{
    display: flex;
    flex-direction: column;

}

.second-third-columns{
    display: flex;
    flex-wrap: wrap;
    flex: 6;
    gap: 20px;
}

.second-row-blocks, .third-row-blocks{
    display: flex;
    gap: 20px;
    width: 100%;
}

.second-column-upper-block, .second-column-lower-block,
.third-column-upper-block, .third-column-lower-block{
    border-radius: 20px;
    padding: 40px;
    background-color: #DCDEE1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:3;
}

 .second-column-upper-block{
    flex: 3.47;
}

.third-column-upper-block{
    flex: 2.53;
}

.columns-numbers{
    font-size: 64px;
    font-weight: 900;
}

.text-wrap p{
    font-size: 16px;
}

@media (max-width: 995px){
    .percentage-title{
        font-size: 64px;
    }

    .employment-rate{
        font-size: 16px;
    }
}

@media (max-width:730px){

    .big-block{
        padding: 30px;
    }

    .percentage-title{
        font-size: 42px;
    }

    .employment-rate{
        font-size: 16px;
    }

    .big-block-text{
        display: flex;
        flex-wrap: wrap;
    }

    .big-block-text-line-one p{
        font-size: 14px;
    }

    .second-column-upper-block, .second-column-lower-block,
    .third-column-upper-block, .third-column-lower-block{
        padding: 30px;
     }

    .columns-numbers{
        font-size: 42px;
    }

    .second-column-upper-block p:nth-child(2), .second-column-lower-block p:nth-child(2),
    .third-column-upper-block p:nth-child(2), .third-column-lower-block p:nth-child(2){
    font-size: 12px;
    }

    .text-wrap{
        display: flex;
        flex-wrap: wrap;
    }
} 

.pick-path-title{
    background-color: #363738;
    padding: 10px 20px;
}

.pick-path-title h2 span{
    color: white;
}

h2 span{
    margin-left: 5px;
}

.pick-path-section-content{
    padding: 70px 0px;
    width: 100%;
}

.pick-path-section-btns{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

.path-detail-title{
    display: flex;
}

.pick-path-section-btn{
    padding: 20px 50px;
     border-radius: 20px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    font-weight: 900;
}

.path-detail{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #363738;
    border-radius: 20px;
}

@media (max-width:800px){
    .path-detail{
        flex-direction: column;
        padding: 5px;
        justify-content: space-between;
    }

    .path-detail-text{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .path-detail-img{
        width: 100%;
    }
}

.path-detail-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    width: 50%;
    text-align: start;
    color: white;
}

.path-detail-title{
    font-size: 22px;
     margin-bottom: 20px; 
}

.path-detail-description{
    font-size: 14px;
    line-height: 1.5;
}

.path-detail-btns{
    display: flex;
    gap: 5px
}

.path-detail-img{
    width: 45%;
}

.path-detail-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.path-detail-btn{
    font-size: 14px;
    padding: 10px 20px;
    background-color: #000;
    align-items: center;
    line-height: 1.4;
    align-self: stretch;
}

.add-margin-left{
    margin-left: 10px ;
}

.hire-talent-section{
    background-color: #363738;
}

.become-partner{
    width: 100%;
    padding: 40px;
    background-color: #232323;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
}

.become-partner-title{
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}

.companies-number{
    background-color: #363738;
    padding: 15px 20px;
}

.companies-adv li, .hunt-text{
    list-style: none;
    font-size: 14px;
    color: #DCDEE1;
    line-height: 1.4;
    
}

.companies-adv li{
    margin-left: 10px;
}

.hire-talent-container{
    margin-bottom: 60px;
}

.contact-btn{
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: #363738;
    border: none;
    text-align: right;
    color: white;
}

.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container{
    margin-top: 60px;
    padding: 20px 20px 20px 64px;
    background-color: #363738;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.card-detail-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fcfcfd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding-right: 40px;
}

.card-detail-logo{
    margin-top: 30px;
}

.card-img img{
    object-fit: cover;
    border-radius: 10px;
}

.person-career{
    display: flex;
    
}

.small-person-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.person-name-job{
    font-size: 18px;
    font-weight: 400;
    color: #fcfcfd;
}

.person-name-job p{
    font-size: 14px;
}

@media (max-width: 935px){
    .card-img img{
        height: 382px;
        width: 382px;
    }
}

@media (max-width: 750px){
    .card-container{
        flex-direction: column;
    }
    .card-img img{
        height: 100%;
        width: 100%;
    }
}

.faq{
    background-color: #363738;
}

.section-faq-title{
    color: #fcfcfd;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
}

.faq-header{
    margin-bottom: 70px !important;
}

.qa-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-answer-block{
    background-color: #232323;
    border-radius: 20px;
    width: 100%;
}


.question{
    padding: 20px 40px 20px 24px;
    color: #fcfcfd;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.answer{
    color: #DCDEE1;
    padding: 30px 0px 30px 20px;
    text-align: start;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
    cursor: pointer;
}

.view-all-btn{
    width: 100%;
    border: none;
    margin: 24px 0px 0px;
    padding: 15px 20px ;
    font-size: 16px;
    text-align: end;
    background-color: #232323;
    color: #fcfcfd;
    font-weight: 700;
}

.contact-us-section{
    background-color: #28eea7;
}

.section-title-contact{
    background-color: #363738;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 800;
    color: #fcfcfd;
}

.section-header-title{
    margin-bottom: 50px;
}

.contact-container{
    border-radius: 20px;
    background-color: #363738;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 40px 40px;
    font-size: 14px;
    align-self: stretch;
    width: 100%;
}

.contact-title span:first-child{
    color: #A5A6A9;
    font-size: 14px;
}

.infose{
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
}

.contact-name, .contact-tools{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width:700px){
    .contact-name, .contact-tools{
        flex-direction: column;
    }

    .radio-container{
        flex-wrap: wrap;
    }
}

.contact-sub-section{
    width: 48%
}

label{
    font-size: 12px;
    color: #fcfcfd;
    margin-bottom: 10px;
    font-weight: 800;
}

input{
    padding: 8px 16px;
    background-color: white;
    font-size: 14;
    line-height: 1.4;
    color: #333;
    width: 100%;
    border: 1px solid #ccc;
}

.inquiry-section{
    width: 100%;
}

.radio-container{
    display: flex;
    gap: 15px;
    margin-top: 10px;   
}

.radio-label{
    display: flex;
    justify-content: start;
    font-size: 14px;
}

.what-u-want{
    margin-bottom: 20px;
}

textarea{
    margin: 10px 0px 20px 0px;
    width: 100%;
    min-height: 120px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.4;
}

.submit-contact-btn{
    display: flex;
    justify-content: end;
}

.submit-btn{
    padding: 15px 20px;
    background-color: #28eea7;
    font-size: 14px;
    cursor: pointer;
    border: none;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 700;
}

.map-container{
    background-color: #363738;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 40px 40px;
    font-size: 14px;
}

.map-container-title{
    color: #A5A6A9;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 15px;
}

@media (max-width:800px) {
    .map-img img{
        width:150px;
        height:150px
    }
}

@media (max-width:600px) {
    .small-contact-container{
        flex-direction: column;
    }
}

.small-contact-container{
    display: flex;
    gap : 10px;
    width: 100%;
    padding: auto;
}

.directions span{
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #A5A6A9;
}

.directions span:first-child{
    font-size: 16px;
    line-height: 1;
    color: #fcfcfd;
}

.partners-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.partners-logo img{
    height: 80px;
    width: 80px;
    margin: 0px 15px 10px;
}

.news-letter-container{
    padding: 70px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #363738;
}

.news-letter-words span:first-child, .news-letter-words{
    font-size: 22px;
    color: #fcfcfd;
    font-weight: 900;
    line-height: 1.5;
}

.stay-today{
    color: #A5A6A9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-input-btn{
    display: flex;
}

.footer-input input{
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 38px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
}

.footer-btn button{
    height: 45px;
    background-color: #232323;
    color: white ;
    border: none;
    padding: 15px 20px;
    font-weight: 900;
    text-align: center;
}

.menu{
    position: fixed;
    z-index: 2;
    background-color: rgba(35,35,35, 0.9);
    padding: 70px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    transition: fade;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

.menu-container{
    display: flex;
    width: 100%;
}

.menu-se-logo{
    margin-bottom: 50px;
}

.choose-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;
}

.menu-left-container{
    width: 50%;
}

.hover-menu-items > a{
    text-decoration: none;
    color: #A5A6A9;
    font-size: 24px;
    font-weight: 900px;
    cursor: pointer;
    line-height: 1;
    
}

.hover-menu-items :hover{
    color: white;
}

.menu-right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.close-btn{
    margin-bottom: 40px;
    cursor: pointer;
}

.account-box{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #232323;
    margin-bottom: 10px;
  
}

.title-acc{
    margin-bottom: 10px;
}

.menu-right-title{
    margin-bottom: 70px;
}

.menu-text-clr{
    color: #A5A6A9;
}

.menu-container-btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    cursor: pointer;
}

.menu-container-btns button{
    width: 100%;
    padding: 15px 20px;
    color: #363738;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.first-menu-btn{
    background-color: #28eea7;
}

.second-menu-btn{
    background-color: #fcfcfd;
}

.blue{
    border-radius: 20px;
    cursor: pointer;
}

.phosphore-color{
    color: #28eea7;
}

.hidden{
    display: none;
}

.border-class{
    background-color: black;
}

.background-orange{
    background-color: #ffc635;
}

.color-orange{
    color: #ffc635;
}

.background-purple{
    background-color: #9864da;
}

.color-purple{
    color: #9864da;
}

.background-phosphore{
    background-color: #28eea7;
}

.color-phosphore{
    color: #28eea7;
}

.background-pink{
    background-color: #fb508e;
}

.color-pink{
    color: #fb508e;
}


.links-section{
    background-color: #222;
    padding:60px;
    width: 100%;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    /* gap:60px; */
}

.left-footer-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:30px;
}

.left-footer-content h2{
    color:#DCDEE1;
    font-size:14px;
}

.left-footer-content span a{
    cursor:pointer;
    color:#A5A6A9;
    text-decoration: none;
    font-size:14px;
    line-height:16px;  
}

.left-footer-content span :hover{
    color:#fcfcfd;
}

.second-left-footer-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    margin-top:87px;
}

.second-left-footer-content span a{
    cursor:pointer;
    color:#A5A6A9;
    text-decoration: none;
    font-size:14px;
    line-height:16px;
}

.second-left-footer-content span a:hover{
    color:#fcfcfd;
}

.right-footer-content{
    display:flex;
    flex-direction:column;
    gap:40px;
}

.right-footer-content img{
    width:100px;
    height:100px;
}

.socials{
    display:flex;
    justify-content: end;
    align-items: center;
    gap:20px;    
}

.socials img{
    width:30px;
    height:30px;
    background-color: #a5a6a9;
    cursor: pointer;
    border-radius: 5px;

}

.rights-reserved{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:70px;
}

.rights-reserved span{
    color:#A5A6A9;
    margin-left:55px;
}

.rights-reserved a{
    text-decoration: none;
    color:#A5A6A9;
}


.background-black-pick{
    background-color: #363738;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}




